.headline {
  display: flex;
  justify-content: space-between;
  width: 730px;
  margin: 4% auto;
}

.counter {
  background-color: var(--gray-400);
  padding: 5px 10px;
  border-radius: 20px;
}

.countertasks {
  color: var(--blue-500);
}

.counterfinish {
  color: var(--purple-400);
}

.counterfinish, .countertasks, .counter {
  font-weight: bold;
}